<li class="card card-click pointer" data-restaurant="{{node.id}}">
    <div class="card__header">
        <span class="card__name">{{node.title}}</span>
    </div>
    <span>{{node.time}}</span>

    <span class="card__image" style="background-image: url('{{node.avatar}}')"></span>
    <span class="card__description">{{node.description}}</span>

    <span class="card__rating">Рейтинг: <span class="card_right" style="margin-right: 23px;">{{node.rating}}<img style="margin: -4px 0 0 8px;"z
                                                                                                                 src="../../../static/img/star_rating.svg"></span></span>
    <span class="card__rating">Средний чек: <span class="card_right">{{node.cost}} ₽</span></span>
</li>
