<div data-foodNumID="{{id}}" class="restaurant-content__num-buttons">
    <button class="minus restaurant-content__num-buttons__button" data-foodMinusButtonID="{{id}}">-</button>
    <button class="num restaurant-content__num-buttons__button" data-foodNumButtonID="{{id}}">{{num}}</button>
    <button class="plus restaurant-content__num-buttons__button" data-foodPlusButtonID="{{id}}">+</button>
</div>
