<li class="card" data-foodID="{{food.id}}">
    <div class="card__header">
        <span class="card__name">{{food.name}}</span>
        <span class="card__sum">{{food.price}} рублей</span>
        <button data-foodAddButtonID="{{food.id}}" class="store-content__add-button_main"></button>
    </div>
    <span class="card__image" style="background-image: url('{{food.image}}')"></span>
    <span class="card__description">
        {{food.description}}
    </span>
</li>
