<div class="store-title__container">
    <img class="store-title__image" src="{{ image }}">
    <span class="store-title__name">{{ name }}</span>
    <span class="store-title__delivery-time">
        <span class ="store-title__const-info">Время доставки: </span>
        {{ deliveryTime }} мин
    </span>
    <span class="store-title__delivery-cost">
        <span class ="store-title__const-info">Доставка: </span>
        {{ deliveryCost }} ₽
    </span>
    <span class="store-title__rating"><img style="margin-top: -4px"
                                                src="../../../static/img/star_rating.svg">{{ rating }}</span>
    <button id="js-goToChat" class="button">Чат</button>
</div>

<div class="sections-hrefs">
    {{#each sections}}
        <a href="#section_{{this.id}}" class="section-href">{{this.name}}</a>
    {{/each}}
</div>