<div class="block-orders profile-card">
    <div class="block-order_block-user">
        <div class="block-order__user-name">
            <div class="block-order-static-text">
                <h3>Заказчик: </h3>
            </div>
            <h2 class="block-user-name__name block-order-align-right">{{order.userName}}</h2>
        </div>
        <div class="block-order__user-phone">
            <div class="block-order-static-text">
                <h3>Номер телефона: </h3>
            </div>
            <h2 class="block__user-phone__name block-order-align-right">{{order.userPhone}}</h2>
        </div>
    </div>

    <div class="block-order-date-and-address">
        <h3 class="block-order__date text-with-small-weight">{{order.orderTime}}</h3>
        <h3 class="block-order__address text-with-small-weight">{{order.address}}</h3>
    </div>

    <div class="block-order-contents">
        <div id="block-order-food-{{order.orderID}}" class="block-order-contents-dishes">

        </div>

        <div class="block-order-contents-sum">
            <div class="block-order-contents-sum-order">
                <div class="block-order-static-text">
                    <h3 class="text-with-small-weight">Доставка</h3>
                </div>
                <h3 class="block-order__ship text-with-small-weight text-with-small-weight block-order-align-right">{{order.ship}}</h3>
            </div>
            <div class="block-order-contents-sum-summary">
                <div class="block-order-static-text">
                    <h2>Итого</h2>
                </div>
                <h2 class="block-order__sum block-order-align-right">{{order.summary}}</h2>
            </div>
        </div>
    </div>

    <div class="block-order-state">
        <div class="block-order-state-status">
            <div class="block-order-static-text">
                <h3 class="text-with-small-weight">Статус заказа</h3>
            </div>
            <select name="select" class="order_delivery-set_status" id="status-{{order.orderID}}">
                <option value="created" id="status-created">Оформлен</option>
                <option value="cooking" id="status-cooking">Готовится</option>
                <option value="delivering" id="status-delivering">Едет к вам</option>
                <option value="done" id="status-done">Доставлен</option>
            </select>
        </div>

        <div class="block-order-delivery">
            <div class="block-order-static-text">
                <h3 class="text-with-small-weight">Ожидаемое время доставки</h3>
            </div>
            <input id="delivery_time-{{order.orderID}}" class="order_delivery-set_time" type="datetime-local">
        </div>

        <input type="submit" class="button order-state__save-disabled" id="save_status-{{order.orderID}}" value="Сохранить">
    </div>
    <button id="js_go-to-chat" class="button">Перейти в чат</button>
</div>

