<div class="chose-list__container">
    {{#each baskets}}
        <div class="chose-list__basket" id="chose-list__basket{{this.id}}" data-deleteID="{{this.id}}">
            <div class="chose-list__title">
                <div class="chose-list__basket-img-cont"><img class="chose-list__basket-img"
                                                              src="{{this.restaurantImage}}"></div>
                <div class="chose-list__basket-name">{{this.restaurantName}}</div>
                <div class="chose-list__basket-time">
                    Время доставки {{this.deliveryTime}} минут
                </div>
            </div>

            <div class="chose-list__food-container">
                {{#each this.foods}}
                    <div class="chose-list__food">
                        <img class="chose-list__basket-img" src="{{this.image}}">
                        <div class="chose-list__food-title">{{this.name}}</div>

                        <div class="chose-list__food-price">{{this.price}} руб.</div>
                        <div class="chose-list__food-mul">&times;</div>
                        <div class="chose-list__food-num">{{this.num}} шт.</div>
                        <div class="chose-list__food-equal">=</div>
                        <div class="chose-list__food-total-price">{{this.totalPrice}} руб.</div>
                    </div>
                {{/each}}
            </div>
            <div>
                <span class="chose-list__delivery"> Стоимость доставки <span
                        class="chose-list_right">{{this.deliveryPrice}} руб.</span></span>
            </div>
            <div>
                <span class="chose-list__total"> Итого <span class="chose-list_right">{{this.totalPrice}}
                    руб.</span></span>
            </div>
            <div class="buttons-container row" style="margin-top: 15px;">
                <button class="button red_color" style="margin-left: -2px;" data-button="delete" data-id="{{this.id}}"
                        id="deleteButton{{this.id}}">Удалить
                    корзину
                </button>
                <button class="button store_color" data-button="store" data-id="{{this.restaurantID}}"
                        id="goToStore{{this.id}}">
                    Перейти в ресторан
                </button>
                <button class="button" data-button="order" data-id="{{this.restaurantID}}" id="orderButton{{this.id}}">
                    Заказать
                </button>
            </div>
        </div>
    {{/each}}
</div>
